.fighter-panel .battle-fighter-hp {
  --battle-fighter-panel-width: 160px;
  --battle-fighter-panel-sprite-size: 72px;
  --battle-fighter-panel-hp-width: 100%;
  --pokemon-hp-bar-width: 100%;
  --pokemon-hp-bar-height: 5px;
  width: var(--battle-fighter-panel-hp-width);
  margin: 3px 0 2px;
}

.fighter-panel .battle-fighter-hp b {
  transition: width var(--hp-duration, 1400ms) ease;
}
